@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&display=swap');
:root {
  --max-width: 1100px;
  --border-radius: 8px;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  --primary-color:#00E0C0;
  --secondary-color:#FE6A00 ;
  --primary-Winput:#fff;
  --primary-border:rgba(0,0,0,0.2);
  --primary-text: #000;
  --secondary-text:#7f7f7f;
  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --active-border:#FE6A00;
  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* user-select: none; */
}
.maxW{
  max-width: 1040px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color:#f0f0f0;
  font-family: 'inter';
}

main{
  background-color: white;
  max-width: 1440px;
  padding: 20px 20px 100px 20px;
  border-radius: 10px;
  margin:10px auto;
}
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
h1, h2, h3, h4, h5, h6, button, a, p{
  font-family: 'inter';
}
h1 {
  font-size: 2.5rem; /* Adjust as needed */
}

h2 {
  font-size: 2rem; /* Adjust as needed */
}

h3 {
  font-size: 1.75rem; /* Adjust as needed */
}

h4 {
  font-size: 1.5rem; /* Adjust as needed */
}

h5 {
  font-size: 1.25rem; /* Adjust as needed */
}

h6 {
  font-size: 1rem; /* Adjust as needed */
}

/* Paragraph styles */
p {
  font-family: 'Lato', sans-serif; /* Use your preferred font family */
  font-size: 1rem; /* Adjust as needed */
  line-height: 1.5; /* Adjust as needed */
}

/* Other text element styles */
span {
  font-family: 'Your Body Font', sans-serif; /* Use your preferred font family */
  font-size: 1rem; /* Adjust as needed */
}
button{
  background-color: var(--primary-Winput);
  color: var(--primary-text);
  border: unset;
}
input{
  background-color: var(--primary-Winput);
  border: unset;
}
select{
  background-color: var(--primary-Winput);
  color: var(--primary-text);
}
label{
  color: var(--primary-text);
}
.gap-5{
  gap: 5px;
}
.gap-10{
  gap: 10px;
}
.gap-20{
  gap:20px;
}
.gap-40{
  gap:40px;
}
.gap-60{
  gap:60px;
}
.gap-80{
  gap:80px;
}
.gap-100{
  gap:100px
}

.gap-24{
  gap:24px;
}
.button{
  font-size: 16px;
  border-radius: 6px;
  padding: 8px 24px;
  text-decoration: none;
  font-weight: 500;
  display: inline-block;
}
.primary-button{
  background-color: var(--primary-color);
  border: none;
  color: var(--primary-Winput);
  min-width: 150px;
}
.border-button{
  border:1px solid var(--primary-border);
}
input[type="search"]{
  background-color: var(--primary-Winput);
  border: 0px;
}
.rightImg{
  width: 80%;
  height: 80%;
}
.wButton{
  background-color: #23AF3C;
  border-radius: 100%;
}
.input-border{
  border: 1px solid var(--primary-border);
  border-radius: 5px;
}
.full-img{
  width: 100%;
  height: 100%;
}
.vendBox-avgrating{
  width: 38px;
  height: 24px;
  color: #fff;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  background-color: #FE6A00;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
